.statistics {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.02em;
}

.statistics:not(:last-child) {
  margin-bottom: 5px;
}

.status {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.status__g {
  color: green;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.status__n {
  color: orange;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.status__b {
  color: red;
  font-weight: 500;
  letter-spacing: 0.02em;
}
